node_modules
.env
log.txt
siteLog.txt
system/commands/game
system/resources/game
system/resources/config/json/config.json
system/resources/config/json/blacklist.json
system/resources/config/json/nomeFichas.json
system/commands/owner/teste.js
dbBackup.json
nodemon.json